TA2/flows.json
[
    {
        "id": "5eebc58988bb40b5",
        "type": "mqtt in",
        "z": "6d1d38d23b04d032",
        "name": "",
        "topic": "/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aca19d7c82b3bbbc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "092db7a850b4de7e",
                "5f1feb14a8ca0447",
                "1bffbcca4002d72d"
            ]
        ]
    },
    {
        "id": "53806a2929b72130",
        "type": "mqtt in",
        "z": "6d1d38d23b04d032",
        "name": "",
        "topic": "/Humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aca19d7c82b3bbbc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "3cb1452d51d71a16",
                "67c7155c77770c4b",
                "a9e24876cf3342c6"
            ]
        ]
    },
    {
        "id": "092db7a850b4de7e",
        "type": "ui_chart",
        "z": "6d1d38d23b04d032",
        "name": "",
        "group": "e771fdf529b86ab4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3cb1452d51d71a16",
        "type": "ui_chart",
        "z": "6d1d38d23b04d032",
        "name": "",
        "group": "e771fdf529b86ab4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5f1feb14a8ca0447",
        "type": "ui_gauge",
        "z": "6d1d38d23b04d032",
        "name": "",
        "group": "974d62cabafbcc71",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#00b0b3",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "67c7155c77770c4b",
        "type": "ui_gauge",
        "z": "6d1d38d23b04d032",
        "name": "",
        "group": "974d62cabafbcc71",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00a7b3",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 220,
        "wires": []
    },
    {
        "id": "1bffbcca4002d72d",
        "type": "debug",
        "z": "6d1d38d23b04d032",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "a9e24876cf3342c6",
        "type": "debug",
        "z": "6d1d38d23b04d032",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 280,
        "wires": []
    },
    {
        "id": "d4926313d8e68070",
        "type": "mqtt in",
        "z": "6d1d38d23b04d032",
        "name": "",
        "topic": "/Lux",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aca19d7c82b3bbbc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "aac0394135063b6d",
                "7731280de694a301"
            ]
        ]
    },
    {
        "id": "7731280de694a301",
        "type": "ui_chart",
        "z": "6d1d38d23b04d032",
        "name": "",
        "group": "e771fdf529b86ab4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Illumination Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "aac0394135063b6d",
        "type": "ui_gauge",
        "z": "6d1d38d23b04d032",
        "name": "",
        "group": "974d62cabafbcc71",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ILLUMINATION",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#000000",
            "#e6e5e5",
            "#ffffff"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 380,
        "wires": []
    },
    {
        "id": "aca19d7c82b3bbbc",
        "type": "mqtt-broker",
        "name": "C141",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e771fdf529b86ab4",
        "type": "ui_group",
        "name": "Charts",
        "tab": "474e9a7e5d512dd9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "974d62cabafbcc71",
        "type": "ui_group",
        "name": "Guages",
        "tab": "474e9a7e5d512dd9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "474e9a7e5d512dd9",
        "type": "ui_tab",
        "name": "C141",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]